
<section class="mt-8 relative">
    <div>
        <h2 class="flex justify-start text-xl dark:text-gray-200 font-semibold">There's nothing here, yet, but it will fill with stuff sometime, maybe.</h2>
    </div>
</section>


<div class=""> 
    <div ngbAccordion [closeOthers]="true">
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader><em>Associate in Science</em> - <button ngbAccordionButton><strong>Chemistry</strong></button></h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
        <ng-template><div><img class="product-image-large img-responsive" src="/assets/image/biography/CCC-AS-Chemistry.jpg"/></div></ng-template></div></div></div>

        <div ngbAccordionItem>
          <h2 ngbAccordionHeader><em>Associate in Science</em> - <button ngbAccordionButton><strong>Biological Science</strong></button></h2>
          <div ngbAccordionCollapse style="transition: .25s;">
              <div ngbAccordionBody>
        <ng-template ><div class="border-4 transition-all"><img class="product-image-large img-responsive" src="/assets/image/biography/CCC-AS-Biology.jpg"/></div></ng-template></div></div></div>

        <div ngbAccordionItem>
          <h2 ngbAccordionHeader><em>Associate in Arts</em> - <button ngbAccordionButton><strong>Economics</strong></button></h2>
          <div ngbAccordionCollapse>
              <div ngbAccordionBody>
        <ng-template><img class="product-image-large img-responsive" src="/assets/image/biography/CCC-AA-Economics.jpg"/></ng-template></div></div></div>

        <div ngbAccordionItem>
          <h2 ngbAccordionHeader><em>Associate in Arts</em> - <button ngbAccordionButton><strong>Liberal Arts: Math &amp; Science</strong></button></h2>
          <div ngbAccordionCollapse>
              <div ngbAccordionBody>
        <ng-template><img class="product-image-large img-responsive" src="/assets/image/biography/CCC-AA-LAMS.jpg"/></ng-template></div></div></div>

        <div ngbAccordionItem>
          <h2 ngbAccordionHeader><em>Associate in Arts</em> - <button ngbAccordionButton><strong>Liberal Arts: Social &amp; Behavioral Sciences</strong></button></h2>
          <div ngbAccordionCollapse>
              <div ngbAccordionBody>
        <ng-template><img class="product-image-large img-responsive" src="/assets/image/biography/CCC-AA-LASB.jpg"/></ng-template></div></div></div>
      
    </div> </div>
        