
<section class="max-w-screen-lg mx-auto dark:text-gray-200 overflow-y-hidden">      
    <section class="mt-8 relative" >
      <div class="flex flex-row item-start group">
        <div class="relative">
      <div class="flex flex-col grid gap-6 md:grid-cols-1 lg:grid-cols-10 " >
        <div class="flex flex-row max-w-screen-xl grid gap-6 lg:col-start-1 lg:col-span-4">
          <img class="img img-responsive product-image-large" style="min-width: 300px;" [src]="bioImg" alt="biography" />
     </div>
      <div class="flex flex-row max-w-screen-xl grid lg:col-start-5 col-span-6" >
       
        <h2><span class="text-primary text-xl font-semibold">Daniel T Nowinski</span> <span> (He/Him)</span></h2>
            
        <h3 class="font-semibold dark">Data Narrativist and Analytics Nerd</h3>
     
        <p>
          I grew up in Richmond, California, during a time when the city was ranked among the most violent in the nation. While in elementary school, my friend was kidnapped and brutally murdered at a local park—an event that deeply impacted me. I understood that if I didn’t take control of my future, I risked sharing a similar fate marked by poverty and violence. My determination and courage fueled my drive to break free from those circumstances.
          <br><br>
          I found comfort in the science teachers who were brought to my school through NSF grants. They inspired me to pursue science and encouraged me to aim for college. The support they provided has been a constant source of motivation, propelling my desire to give back and volunteer whenever possible.
          <br><br>
          As an extrovert, I thrive on meeting new people, learning about their passions, and sharing insights on what brings us joy. I strongly believe that the progress I’ve made so far is due in large part to the guidance from mentors and the support of a small group of advisors who have helped me push beyond my limits.
        </p>
      </div>
     </div></div></div>
    </section>
      
      
      <br> <br> <br>
    
    <!-- ECMC -->
    <section class="mt-8 relative" >
      <div class="flex flex-row item-start group">
        <div class="relative h-full ">
      <div class="flex flex-col grid gap-6 md:grid-cols-1 lg:grid-cols-10 " >
        <div class="flex flex-row max-w-screen-xl grid gap-6 lg:col-start-1 lg:col-span-2">
        <a href="https://www.ecmc.org/" target="_blank"><img src="../../../assets/image/biography/ecmc.png" alt="ECMC" class="img-responsive img-logo"/></a>
     </div>
      <div class="flex flex-row max-w-screen-xl grid gap-6  lg:col-start-3 col-span-8" >
        <div class="">
          <div class="flex flex-row" style="justify-content: space-between">
        <div class="">
          <h1 class="text-lg dark">ECMC</h1>
        </div>
          <h1 class="text-lg dark"><span class="text-primary">May 2021 - Current</span></h1>
        </div>
        <div class="">
          <h1 class="text-lg dark text-left"><strong>Senior Data Scientist</strong></h1>
          <p>At ECMC, I dive deep into data—collecting, validating, and analyzing it to create solutions tailored to our business needs. I'm all about driving collaboration on data-driven impact metrics and finding innovative ways to reduce costs and increase our philanthropic efforts. Plus, I have the privilege of advising our AI steering committee to shape future strategies.
            
          </p>        </div>
      </div></div>
     </div></div></div>
    </section>
        <Br>
        <Br>
        <Br>
    <!-- TMBC -->
    <section class="mt-8 relative" >
      <div class="flex flex-row item-start group">
        <div class="relative h-full ">
      <div class="flex flex-col grid gap-6 md:grid-cols-1 lg:grid-cols-10 " >
        <div class="flex flex-row max-w-screen-xl grid gap-6 lg:col-start-1 lg:col-span-2">
          <a href="https://www.themyersbriggs.com/" target="_blank" ><img  src="/assets/image/biography/MBTI.png" alt="Myers-Briggs" class="img-responsive img-logo"/></a>
     </div>
      <div class="flex flex-row max-w-screen-xl grid gap-6  lg:col-start-3 col-span-8" >
        <div class="">
          <div class="flex flex-row" style="justify-content: space-between">
        <div class="">
          <h1 class="text-lg dark">The Myers-Briggs Company</h1>
        </div>
        <h1 class="text-lg dark"><span class="text-primary">August 2016 - April 2021</span></h1>
        </div>
        <div class="">
          <h1 class="text-lg dark"><strong>Operations Manager</strong></h1>
          <p>My entire focus at TMBC was a digital assessment platform called VitaNavis. I didn't code it or sell it, but I was the person behind the scenes configuring offerings, training customers, creating digital assets, and creating implementation plans for institutions. Beyond the platform and assets, my main focus was implementing Vitanavis for a U.S. Department of Education initiative that assigned resources to minority-serving-institutions across the country.</p>        </div>
      </div></div>
     </div></div></div>
    </section>
        <Br>
        <Br>
        <Br>
    <!-- Consulting -->

    <section class="mt-8 relative" >
      <div class="flex flex-row item-start group">
        <div class="relative h-full ">
      <div class="flex flex-col grid gap-6 md:grid-cols-1 lg:grid-cols-10 " >
        <div class="flex flex-row max-w-screen-xl grid gap-6 lg:col-start-1 lg:col-span-2">
          <a href="https://www.dnowinski.com"><img src="/assets/image/biography/Dhex.png" alt="Consulting" class="img-responsive img-logo"/></a>
     </div>
      <div class="flex flex-row max-w-screen-xl grid gap-6  lg:col-start-3 col-span-8" >
        <div class="">
          <div class="flex flex-row" style="justify-content: space-between">
        <div class="">
          <h1 class="text-lg dark">Daniel T Nowinski</h1>
        </div>
        <h1 class="text-lg dark"><span class="text-primary">August 2014 - August 2016</span></h1>
        </div>
        <div class="">
          <h1 class="text-lg dark"><strong>Executive Consultant</strong></h1>
          <p>Clients generally approach me to help guide them through federal policy issues. I also work on stakeholder outreach, preparing fundraising narratives, and incorporating best practices into their products.</p>
        </div>
      </div>
     </div></div></div></div>
    </section>

        <Br>
        <Br>
        <Br>
    <!-- U.S. Senate -->

    <section class="mt-8 relative" >
      <div class="flex flex-row item-start group">
        <div class="relative h-full ">
      <div class="flex flex-col grid gap-6 md:grid-cols-1 lg:grid-cols-10 " >
        <div class="flex flex-row max-w-screen-xl grid gap-6 lg:col-start-1 lg:col-span-2">
          <a href="https://www.senate.gov/" target="_blank"><img src="/assets/image/biography/Senate.png" alt="United States Senate" class="img-responsive img-logo" /></a>
     </div>
      <div class="flex flex-row max-w-screen-xl grid gap-6  lg:col-start-3 col-span-8" >
        <div class="">
          <div class="flex flex-row" style="justify-content: space-between">
        <div class="">
          <h1 class="text-lg dark">United States Senate - Office of Senator Barbara Boxer</h1>
        </div>
        <h1 class="text-lg dark"><span class="text-primary">January 2015 - May 2015</span></h1>
        </div>
        <div class="">
          <h1 class="text-lg dark"><strong>Legislative Intern</strong></h1>
          <p>
Serving in the United States Senate was an immense honor and privilege that will be tough to ever rival. As a proud California native, I enjoyed every second I spent working with my fellow constituents and Senator Boxer's staff.
          </p>
        </div>
      </div>
     </div></div></div></div>
    </section>
        <Br>
        <Br>
        <Br>
    
    <!-- GoBeMe -->

    <section class="mt-8 relative" >
      <div class="flex flex-row item-start group">
        <div class="relative h-full ">
      <div class="flex flex-col grid gap-6 md:grid-cols-1 lg:grid-cols-10 " >
        <div class="flex flex-row max-w-screen-xl grid gap-6 lg:col-start-1 lg:col-span-2">
          <a href="https://www.crunchbase.com/organization/gobeme" target="_blank"><img src="/assets/image/biography/GoBeMe.png" alt="GoBeMe" class="img-responsive img-logo" /></a>
     </div>
      <div class="flex flex-row max-w-screen-xl grid gap-6  lg:col-start-3 col-span-8" >
        <div class="">
          <div class="flex flex-row" style="justify-content: space-between">
        <div class="">
          <h1 class="text-lg dark">GoBeMe</h1>
        </div>
        <h1 class="text-lg dark"><span class="text-primary">August 2012 - May 2014</span></h1>
        </div>
        <div class="">
          <h1 class="text-lg dark"><strong>Co-Founder, Director of Government Affairs</strong></h1>
          <p>
            Mentored by the CEO, who was the national director of technology for the Howard Dean Presidential Campaign, I was in charge of government affairs. I was also in charge of building corporate ethos in the field of education, and cold-called dozens of thought leaders to get their advice and endorsements. I turned those meetings into a successful fundraising narrative, and we grew the company from the three of us, to a team of twenty-one.
            </p>
        </div>
      </div>
     </div></div></div></div>
    </section>
            <Br>
            <Br>
            <Br>
    

    <!-- Vulpe Lab -->

    <section class="mt-8 relative" >
      <div class="flex flex-row item-start group">
        <div class="relative h-full ">
      <div class="flex flex-col grid gap-6 md:grid-cols-1 lg:grid-cols-10 " >
        <div class="flex flex-row max-w-screen-xl grid gap-6 lg:col-start-1 lg:col-span-2">
          <a href="http://www.vulpelab.net/" target="_blank"><img src="/assets/image/biography/Vulpe.png" alt="Vulpe Lab" class="img-responsive img-logo"></a>
     </div>
      <div class="flex flex-row max-w-screen-xl grid gap-6  lg:col-start-3 col-span-8" >
        <div class="">
          <div class="flex flex-row" style="justify-content: space-between">
        <div class="">
          <h1 class="text-lg dark">Vulpe Lab</h1>
        </div>
        <h1 class="text-lg dark"><span class="text-primary">August 2010 - July 2012</span></h1>
        </div>
        <div class="">
          <h1 class="text-lg dark"><strong>Assistant Research Team Leader</strong></h1>
          <p>
          I was in the ecotoxicogenomics division of the lab, and worked on a very diverse set of chemicals during my tenure. When I became the most senior undergraduate researcher, I was approved to hire and train a team of new students. This bump in productivity led to several significant scientific <a href="https://www.researchgate.net/profile/Daniel_Nowinski" target="_blank">publications</a>. I am still incredibly proud of the work my team was able to accomplish.
          </p>
          </div>
      </div>
     </div></div></div></div>
    </section>
    
    <!----- Education --> <br> <br> <br>
    
    
    
    
    <!-- UC Berkeley --> <br> <br> <br>

    <section class="mt-8 relative" >
      <div class="flex flex-row item-start group">
        <div class="relative h-full ">
      <div class="flex flex-col grid gap-6 md:grid-cols-1 lg:grid-cols-10 " >
        <div class="flex flex-row max-w-screen-xl grid gap-6 lg:col-start-1 lg:col-span-2">
          <img src="/assets/image/biography/Berkeley.png" alt="UC Berkeley" class="img-responsive img-logo"/>
     </div>
      <div class="flex flex-row max-w-screen-xl grid gap-6  lg:col-start-3 col-span-8" >
        <div class="">
          <div class="flex flex-row" style="justify-content: space-between">
        <div class="">
          <h1 class="text-lg dark">University of California, Berkeley</h1>
        </div>
        <h1 class="text-lg dark"><span class="text-primary">August 2010 - May 2012</span></h1>
        </div>
        <div class="">      
          <div ngbAccordion [closeOthers]="true">
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader><em>Bachelor of Science</em> - <button ngbAccordionButton><strong>Molecular Toxicology</strong></button></h2>
              <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
            <ng-template><img class="product-image-large img-responsive" src="/assets/image/biography/UCB-BS-Toxicology.jpg"/></ng-template></div></div></div></div>
            <p>Molecular toxicology is the study of the physiological mechanisms of poisons and drugs. There's not a lot of handholding at Berkeley, and many assignments were purposely ambiguous. An example of this was an experimental new course that was taught by a former "big pharma" executive where my group had to go through the FDA drug development process. My favorite course was an acting class that I would guest lecture twice a semester until moving to Washington, D.C.</p>        </div>
        </div></div>
          </div>
      </div>
     </div>
    </section>
    
    <!-- Contra Costa College --> <br> <br> <br>

    <section class="mt-8 relative" >
      <div class="flex flex-row item-start group">
        <div class="relative h-full ">
      <div class="flex flex-col grid gap-6 md:grid-cols-1 lg:grid-cols-10 " >
        <div class="flex flex-row max-w-screen-xl grid gap-6 lg:col-start-1 lg:col-span-2">
          <img src="/assets/image/biography/CCC.png" alt="Contra Costa College" class="img-responsive img-logo"/>
     </div>
      <div class="flex flex-row max-w-screen-xl grid gap-6  lg:col-start-3 col-span-8" >
        <div class="">
          <div class="flex flex-row" style="justify-content: space-between">
        <div class="">
          <h1 class="text-lg dark">Contra Costa College</h1>
        </div>
        <h1 class="text-lg dark"><span class="text-primary">August 2007 - May 2010</span></h1>
        </div>
        <div class=""> 
        <div ngbAccordion [closeOthers]="true">
          <div ngbAccordionItem>
            <h2 ngbAccordionHeader><em>Associate in Science</em> - <button ngbAccordionButton><strong>Chemistry</strong></button></h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
            <ng-template><div><img class="product-image-large img-responsive" src="/assets/image/biography/CCC-AS-Chemistry.jpg"/></div></ng-template></div></div></div>
  
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader><em>Associate in Science</em> - <button ngbAccordionButton><strong>Biological Science</strong></button></h2>
              <div ngbAccordionCollapse style="transition: .25s;">
                  <div ngbAccordionBody>
            <ng-template ><div class="border-4 transition-all"><img class="product-image-large img-responsive" src="/assets/image/biography/CCC-AS-Biology.jpg"/></div></ng-template></div></div></div>
  
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader><em>Associate in Arts</em> - <button ngbAccordionButton><strong>Economics</strong></button></h2>
              <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
            <ng-template><img class="product-image-large img-responsive" src="/assets/image/biography/CCC-AA-Economics.jpg"/></ng-template></div></div></div>
  
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader><em>Associate in Arts</em> - <button ngbAccordionButton><strong>Liberal Arts: Math &amp; Science</strong></button></h2>
              <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
            <ng-template><img class="product-image-large img-responsive" src="/assets/image/biography/CCC-AA-LAMS.jpg"/></ng-template></div></div></div>
  
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader><em>Associate in Arts</em> - <button ngbAccordionButton><strong>Liberal Arts: Social &amp; Behavioral Sciences</strong></button></h2>
              <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
            <ng-template><img class="product-image-large img-responsive" src="/assets/image/biography/CCC-AA-LASB.jpg"/></ng-template></div></div></div>
          
          </div>
  
            <p>In preparation for my transfer to Berkeley, I took as much as thirty units per semester. Juggling that many classes in several unrelated fields trained me how to become intensely interdisciplinary as well as manage my time with a narrow margin of error.</p>        </div>
        </div>
          </div></div></div>
      </div>
    </section>
   
      
    <!----- Activities --> <br> <br> <br>
    
    <!-- The Rotary Club of Detroit --> <br> <br> <br>

    <section class="mt-8 relative" >
      <div class="flex flex-row item-start group">
        <div class="relative h-full ">
      <div class="flex flex-col grid gap-6 md:grid-cols-1 lg:grid-cols-10 " >
        <div class="flex flex-row max-w-screen-xl grid gap-6 lg:col-start-1 lg:col-span-2">
          <a href="https://www.detroitrotary.org/"target="_blank"><img src="/assets/image/biography/DRotary.png" alt="The Rotary Club of Detroit" class="img-responsive img-logo"/></a>
     </div>
      <div class="flex flex-row max-w-screen-xl grid gap-6  lg:col-start-3 col-span-8" >
        <div class="">
          <div class="flex flex-row" style="justify-content: space-between">
        <div class="">
          <h1 class="text-lg dark">The Rotary Club of Detroit</h1>
        </div>
        <h1 class="text-lg dark"><span class="text-primary">August 2021 - June 2025</span></h1>
        </div>
        <div class="">
          <h1 class="text-lg dark"><strong>Board Member</strong></h1>
          <p>Proud to serve on the board of the Rotary Club of Detroit. I've never been there, and... it's kind of a funny story.</p>        </div>
      </div>
     </div></div></div></div>
    </section>
    
    <!-- Berkeley Free Clinic --> <br> <br> <br>
    <section class="mt-8 relative" >
      <div class="flex flex-row item-start group">
        <div class="relative h-full ">
      <div class="flex flex-col grid gap-6 md:grid-cols-1 lg:grid-cols-10 " >
        <div class="flex flex-row max-w-screen-xl grid gap-6 lg:col-start-1 lg:col-span-2">
          <a href="https://www.berkeleyfreeclinic.org/"target="_blank"><img src="/assets/image/biography/BFC.png" alt="Berkeley Free Clinic" class="img-responsive img-logo"/></a>
     </div>
      <div class="flex flex-row max-w-screen-xl grid gap-6  lg:col-start-3 col-span-8" >
        <div class="">
          <div class="flex flex-row" style="justify-content: space-between">
        <div class="">
          <h1 class="text-lg dark">Berkeley Free Clinic</h1>
        </div>
        <h1 class="text-lg dark"><span class="text-primary">January 2011 - May 2011</span></h1>
        </div>
        <div class="">
          <h1 class="text-lg dark"><strong>Volunteer</strong></h1>
          <p>The Berkeley Free Clinic offers basic medical and dental care, education and vaccination, men's, women's and trans people's STI testing and treatment, anonymous HIV testing, peer counseling, information and referral services, and clean needle services through a collaboration with NEED (Needle Exchange Emergency Distribution).
         <br>
          I of course worked in the lab processing urine, blood, and sputum samples. Not a glorious position, but my lab skills were in high demand, and as a member of the local community, how could I not?
          </p>      
     </div></div></div></div></div></div>
    </section>


    
    <!-- Environmental Leadership Pathway Program --> <br> <br> <br>

    <section class="mt-8 relative" >
      <div class="flex flex-row item-start group">
        <div class="relative h-full ">
      <div class="flex flex-col grid gap-6 md:grid-cols-1 lg:grid-cols-10 " >
        <div class="flex flex-row max-w-screen-xl grid gap-6 lg:col-start-1 lg:col-span-2">
          <a href="https://nature.berkeley.edu/cnrelp/2009_cohort.html"target="_blank"><img src="/assets/image/biography/ELP.png" alt="Environmental Leadership Pathway Program" class="img-responsive img-logo"/></a>
     </div>
      <div class="flex flex-row max-w-screen-xl grid gap-6  lg:col-start-3 col-span-8" >
        <div class="">
          <div class="flex flex-row" style="justify-content: space-between">
        <div class="">
          <h1 class="text-lg dark">Environmental Leadership Pathway Program</h1>
        </div>
        <h1 class="text-lg dark"><span class="text-primary">January 2009 - December 2009</span></h1>
        </div>
        <div class="">
          <h1 class="text-lg dark"><strong>Fellow</strong></h1>
          <p>As part of the program we were tasked with finding a teacher to sponsor us in their classroom for half of the school year. I taught third grade natural science at Washington Elementary School in Berkeley. It was an amazing and challenging experience that brought to my attention the critical necessity of parental involvement in their children's education.</p>        </div>
      </div>
     </div></div></div></div>
    </section>
    
      <!-- Center for Science Excellence --> <br> <br> <br>

      <section class="mt-8 relative" >
        <div class="flex flex-row item-start group">
          <div class="relative h-full ">
        <div class="flex flex-col grid gap-6 md:grid-cols-1 lg:grid-cols-10 " >
          <div class="flex flex-row max-w-screen-xl grid gap-6 lg:col-start-1 lg:col-span-2">
            <a href="https://www.contracosta.edu/classes/learning-communities/center-science-excellence/"target="_blank"><img src="/assets/image/biography/CSE.png" alt="Center for Science Excellence" class="img-responsive img-logo"/></a>
       </div>
        <div class="flex flex-row max-w-screen-xl grid gap-6  lg:col-start-3 col-span-8" >
          <div class="">
            <div class="flex flex-row" style="justify-content: space-between">
          <div class="">
            <h1 class="text-lg dark">Center for Science Excellence</h1>
          </div>
          <h1 class="text-lg dark"><span class="text-primary">September 2007 - May 2010</span></h1>
          </div>
          <div class="">
            <h1 class="text-lg dark"><strong>Fellow</strong></h1>
            <p>Nominated for membership by my chemistry professor, I was accepted into the Presidential Award winning, Center for Science Excellence (CSE). The program pairs members up with mentors in their STEM field, and provides academic enrichment seminars on Friday afternoons. The seminars prepared me for the many briefings and hearings I would later attend in Congress. It was through this program that I would hear about the Environmental Leadership Pathway Program (ELP).</p>        </div>
        </div>
       </div></div></div></div>
      </section>
    
 
      <br> <br> <br>
      <div class="flex flex-col gap-5">
      <h1 class="text-2xl font-semibold dark:text-white">Contact Information:</h1>
      
        @for(c of contactInfo; track $index){
          <p>
            <b class="dark:text-white text-black ">{{c.title}}:</b><br />
            <a [href]="c.link" class="hover:underline" target="_blank">{{c.desc}}</a>
          </p>
        }
      </div>
    </section>